* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--linkFonte: "Fjalla-One-Regular", sans-serif;
	--titleFont: "Oswald", sans-serif;
	--textFont: "Open Sans", sans-serif;
	--purple: #432180;
	--white: #f2f2f2df;
	--background-start: #010108;
	--background-middle: #240a29;
	--background-end: #100822;
	--text-color: #f2f2f2df;
	--navColor: #170e27d1;
}
* {
	transition: background-color 0.3s ease, color 0.3s ease;
}

:root[data-theme="light"] {
	--background-start: #576fcfc6;
	--background-middle: #2a2e85ce;
	--background-end: #19196ac1;
	--purple: #432180;
	--text-color: #f2f2f2df;
	--navColor: #646acbb2;
}

@font-face {
	font-family: "Fjalla One" sans-serif;
	src: url("./assets/fonts/FjallaOne-Regular.woff2") format("woff2"),
		url("./assets/fonts/FjallaOne-Regular.woff") format("woff"),
		url("./assets/fonts/FjallaOne-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Open Sans" sans-serif;
	src: url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
		url("./assets/fonts/OpenSans-Regular.woff") format("woff"),
		url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Oswald", sans-serif;
	src: url("./assets/fonts/Oswald-Regular.woff2") format("woff2"),
		url("./assets/fonts/Oswald-Regular.woff") format("woff"),
		url("./assets/fonts/Oswald-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background: var(--background-start);
	background: linear-gradient(
		90deg,
		var(--background-start) 35%,
		var(--background-middle) 87%,
		var(--background-end) 100%
	);
	color: var(--text-color);
}
.theme-mode {
	font-family: var(--textFont);
	border-radius: 100%;
	font-size: medium;
	background: var(--navColor);
	color: var(--white);
	border: none;
	cursor: pointer;
}
.flag-icon {
	width: 40px;
}
button {
	border-radius: 100%;
	background-color: transparent;
	border: transparent;
}
