.icone-whatsapp {
	width: 30px;
	margin-top: 10px;
}
.icone-github {
	width: 30px;
}
.icone-linkedin {
	width: 30px;
	margin-top: 10px;
}
.footer-link {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.github-icone {
	margin-top: 10px;
}
